<ion-header>
  <ion-toolbar>
    <ion-title>Horario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngIf="grupos.length <= 0">
      <ion-col size="12" size-sm="8" offset-sm="2" padding>
        <ion-label>
          <h2 text-center>Sin Grupos.</h2>
          <p>Porfavor, suscribase a al menos un grupo para generar un horario</p>
        </ion-label>
        <div text-center>
          <ion-button routerLink="/notificaciones/suscribir" margin>Suscripciones</ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="grupos.length > 0">
      <ion-col size="12" size-sm="8" offset-sm="2">
        <ion-slides pager="true" padding>
          <ion-slide *ngFor="let dia of horario.dias">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <h1>{{ dia.nombre }}</h1>
                </ion-col>
              </ion-row>
              <ion-row *ngFor="let bloque of dia.BloquesHorarios">
                <ion-col>
                  <ion-card *ngIf="bloque.gruposClase.length > 0">
                    <ion-card-header>
                      <ion-card-title>{{ bloque.rango }}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      <ion-card *ngFor="let grupoClase of bloque.gruposClase" [color]="grupoClase.enCurso">
                        <ion-card-header>
                          <ion-card-subtitle>{{ grupoClase.asignatura }}</ion-card-subtitle>
                        </ion-card-header>
                        <ion-card-content>
                          <ion-label>
                            <p><span>{{ grupoClase.clave }}</span> - <span>Aula {{grupoClase.aula}}</span></p>
                          </ion-label>
                          <ion-label>
                            <p><span>{{grupoClase.docente}}</span></p>
                          </ion-label>
                        </ion-card-content>
                      </ion-card>
                    </ion-card-content>
                  </ion-card>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>